@font-face {
    font-family: 'Lemonada'; 
    src: url('./assets/fonts/Lemonada-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

.font-lemonada{
    font-family: "Lemonada", sans-serif;
    font-weight: 500;
}